*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}

body{background-color: #fff; color: #333; font-size: 14px; line-height: 1.5; font-family: '맑은 고딕', sans-serif;}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

/* header */

header {
    height: 100px;
    display: flex;
    position: relative;
    align-items: center;
}

.headerBg{
    position: absolute;
    top: 100px;
    left: 0;
    background-color: brown;
    width: 100%;
    height: 135px;
    z-index: 997;
    display: none;
}

header h1 {display: block; width: 400px; height: 20px;}

nav {
    width: 600px;
    margin: 58px 0 0 360px;
}

nav > ul {
    display: flex;
}

nav ul a {
    display: block;
    background-color: #fff;
    text-align: center;
    padding: 10px;
}

.gnb {
    position: relative;
    width: 25%;
}

.gnb > a{
    font-size: 16px;
    font-weight: bold;
}

.gnb:hover > a{
    background-color: brown;
    color: #fff;
    font-weight: bold;
}

.sub{
    position: absolute;
    width: 100%;
    z-index: 998;
    display: none;
}

.sub a {
    background-color: brown;
    color: #fff;
}

.sub li:hover a {
    background-color: #fff;
    color: #333;
}

/* slide */
.slider{
    height: 300px;
}

.slide{
    height: 300px;
    position: relative;
}

.slide div{
    position: absolute;
    display: none;
}

.slide img {
    display: block;
    width: 100%;
}